:root {
    --selection-color: rgba(122, 184, 255, 0.5);
  }
  
  .viewer {
    &__view {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 148px;
      position: relative;
    }
  
    &__wrapper {
      border-radius: 10px 10px 0px 0px;
      overflow: auto;
      position: relative;
    }
  
    &__highlights {
      z-index: 2;
      position: relative;
      display: inline-block;
    }
  }
  
  span::selection {
    background: var(--selection-color);
  }
  